.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
  background-color: rgb(39, 39, 74);
}

.boxLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0, auto;
}
.logoTop{
  transform: rotate(180deg);
  width: 20%;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.tweet {
  background-color: rgb(52, 52, 86);
  border-radius: 25px;
  height: 40px;
  width: 80%;


}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.hashtags {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}